<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Herotale</title>
    @Styles.Render("~/Content/LoginRegister.css")
</head>
<body>
    <div class="center">
        <h1>Thanks for Registering your account!</h1>
            <h2>Press the button below to go to the login page!</h2>
        <div class="center">
            <a href="/Account/Login" class="logout">Log In</a>
        </div>
    </div>
</body>
</html>
